[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/automount.sh add %i
ExecStop=/usr/bin/automount.sh remove %i
